{
    "presets": [
      [
      "@babel/preset-env", {
        "useBuiltIns": "usage",
      }]
    ],
    "plugins": [
        "syntax-dynamic-import", 
        "@babel/plugin-transform-runtime"
     ]
  }